{% extends 'freeadmin/index.html' %}
{% load freeadmin_tags  %}

{% block right-container-content %}
    <h4>{% get_model_verbose_name admin_obj.model %}</h4>

    {% if admin_obj.list_filter %}
        <div class="row">
            <form>
                {% for filter_column in admin_obj.list_filter %}
                    <div class="col-lg-2">
                        {{ filter_column }}:{% get_filter_field filter_column admin_obj %}
                    </div>
                {% endfor %}
            <input type="submit" class="btn btn-success" value="过滤">
            <input type="hidden" name="_o" value="{% get_current_orderby_key request %}">
            </form>
        </div>
    {% endif %}


    <table class="table table-hover">
    <thead>
        <tr>
            {% for column in admin_obj.list_display %}
            <th>
                <a href="?_o={% get_orderby_key request column %}{% generate_filter_url admin_obj %}">{{ column }}</a>
                {% display_order_by_icon request column %}

            </th>
            {% endfor %}
        </tr>
    </thead>
      <tbody>

        {% for obj in admin_obj.querysets %}
            <tr>
                {% build_table_row admin_obj obj %}
            </tr>
        {% endfor %}
      </tbody>

    </table>
    <div class="row">
{#        <div class="pagination">#}
{#            <span class="step-links">#}
{#            {% if admin_obj.querysets.has_previous %}#}
{#                <a href="?page={{ admin_obj.querysets.previous_page_number }}">previous</a>#}
{#            {% endif %}#}
{##}
{#            <span class="current">#}
{#                Page {{ admin_obj.querysets.number }} of {{ admin_obj.querysets.paginator.num_pages }}.#}
{#            </span>#}
{##}
{#            {% if admin_obj.querysets.has_next %}#}
{#                <a href="?page={{ admin_obj.querysets.next_page_number }}">next</a>#}
{#            {% endif %}#}
{#            </span>#}
{#        </div>#}
        <nav aria-label="...">
            <ul class="pagination">
                {% if page == 1 %}
                    <li class="disabled">
                {% else %}
                    <li>
                    <a href="?page={{ admin_obj.querysets.previous_page_number }}{% generater_order_by_url request %}{% generate_filter_url admin_obj %}" aria-label="Previous">
                {% endif %}
                <span aria-hidden="true">
                    «
                </span>
                    </a>
                    </li>
                {% for page in admin_obj.querysets.paginator.page_range %}
                    {% if page == admin_obj.querysets.number %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="?page={{ page }}{% generater_order_by_url request %}{% generate_filter_url admin_obj %}">{{ page }}<span class="sr-only">(current)</span></a>
                        </li>
                {% endfor %}
                {% if page == admin_obj.querysets.paginator.num_pages %}
                    <li class="disabled">
                {% else %}
                    <li>
                    <a href="?page={{ admin_obj.querysets.next_page_number }}{% generater_order_by_url request %}{% generate_filter_url admin_obj %}" aria-label="Next">
                {% endif %}
                    <span aria-hidden="true">
                        »
                    </span>
                    </a>
                    </li>
            </ul>
        </nav>
    </div>

{% endblock %}